.header{
    width:100vw;
    height:50px;
    background-color: white;
    position: fixed;
    top:0;
    display: flex;
    align-content: center;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    padding-left: 60px;
    padding-right: 60px;
    z-index:4 ;
}